<div id="last_image_container" style="background: #ffffff; position:absolute; bottom:15px; right:0; margin:5px; padding:5px; text-align:center; border: 1px solid #e4e4e4">
  Most Recent Image<br />
  <img id="last_image" src="/routes/<%= route.id %>/locations/<%= last_location.id %>/image" alt="" />
</div>
