<!DOCTYPE html>
<html>
<head>
  <title>GHSafe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<div id="wrapper" style="position:relative; float:left; width:100%;">
  <div id="outer" style="position:relative; float:left; clear:left; left:50%; text-align:center;">
    <div id="inner" style="position:relative; display:block; float:left; right:50%;">
      <p>
      © 2012 <strong>Get Home Safe</strong>
      </p>
    </div>
  </div>
</div>

</body>
</html>
